@using Core.UI.Models

 


<div class="u-clearfix u-custom-color-2 u-section-1" id="carousel_658f">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-sheet-1">
        <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
                <div class="u-layout-row">
                    <div class="u-container-style u-gradient u-layout-cell u-size-10-lg u-size-11-md u-size-11-sm u-size-11-xs u-size-8-xl u-layout-cell-1">


                        <div id="Profile" title="Profile" namescreen="Profile" class="_MODULE_CODE u-container-layout u-valign-middle u-container-layout-1  " style="height: 100;">
                            <div class="u-image u-image-circle u-image-1 layout_img_Profile" data-image-width="626" data-image-height="500" style="height: 100%;">
                                <img id="layout_img_Profile" class="u-expanded-width u-image u-image-round u-radius-50 u-image-2" src="/NewStyle/images/profile-user-icon-isolated-on-white-background-eps10-free-vector.jpg" style="border: 7px solid white; cursor: cell; height: 100px; width: 100%; " alt="" data-image-width="444" data-image-height="444" name_img="3f21dffa_b2eb_4324_aee3_8d3d4cf73ae4">
                            </div>
                        </div>


                    </div>
                    <div class="u-align-center-sm u-align-center-xs u-container-style u-custom-color-2 u-layout-cell u-size-29-lg u-size-45-xl u-size-49-md u-size-49-sm u-size-49-xs u-layout-cell-2">
                        <div class="u-container-layout u-container-layout-2">
                            <h3 id="UserName" class="u-text u-text-1">@Res.Name_User</h3>
                            <h6 id="CompanyName" class="u-custom-font u-font-montserrat u-text u-text-2">
                            </h6>

                            <p id="JobTitle" class="u-custom-font u-font-montserrat u-text u-text-2">
                            </p>

                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-custom-color-2 u-layout-cell u-size-21-lg u-size-60-md u-size-60-sm u-size-60-xs u-size-7-xl u-layout-cell-3">
                        <div id="btn_Logout" title="Logout" class="u-container-layout u-valign-middle-lg u-valign-middle-xl u-container-layout-3">
                            <span class="u-file-icon u-icon u-icon-circle u-white u-icon-2"><img src="~/NewStyle/images/4400483.png" alt=""></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="u-align-center u-clearfix u-gradient u-section-2" id="carousel_47a3">

    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
            <div class="u-repeater u-repeater-3" id="Div_Menus_0">



                <div id="Menu_Sales"   namescreen="Menu Sales" class="_MODULE_CODE hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Menu/pngegg_Menu_2.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Menu_Sales</h6>
                    </div>
                </div>




                <div id="Menu_Purchases"   namescreen="Menu Purchases" class="_MODULE_CODE hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Menu/pngegg_Menu_5.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Menu_Purchases</h6>
                    </div>
                </div>






                <div id="Menu_Financial"   namescreen="Menu_Financial" class="_MODULE_CODE hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Menu/pngegg_Menu_7.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Menu_Financial</h6>
                    </div>
                </div>

                 

                <div id="Menu_General_Settings"   namescreen="Menu General Settings" class="_MODULE_CODE hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Menu/pngegg_Menu_1.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Menu_General_Settings</h6>
                    </div>
                </div>




                <div id="Menu_Stock_Settings"   namescreen="Menu Stock Settings" class="_MODULE_CODE hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/360_F_238542727_NW615u1wVMubefUtUb7OqFV8DfM3jAZx.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Menu_Stock_Settings</h6>
                    </div>
                </div>
                 

                <div id="Menu_Tax"   namescreen="Menu Tax" class="_MODULE_CODE hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Menu/pngegg_Menu_9.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Menu_Tax</h6>
                    </div>
                </div>


                <div id="Menu_Accounts"   namescreen="Menu Accounts" class="_MODULE_CODE hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg103.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Menu_Accounts</h6>
                    </div>
                </div>


                <div id="Menu_Report"   namescreen="Menu Report" class="_MODULE_CODE hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Menu/pngegg_Menu_6.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Menu_Report</h6>
                    </div>
                </div>

                 

                <div id="Menu_Users"   namescreen="Menu Users" class="_MODULE_CODE hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/UserControl.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Menu_Users</h6>
                    </div>
                </div>






            </div>
        </div>
    </div>

</div>


<script src="~/ClientApp/Home/Home.js"></script>

<script>


    $(document).ready(() => {
        window.addEventListener('beforeunload', function (e) {
            // Prevent the default action
            e.preventDefault();

            // Insert the log
            InsertLogUser();

            // Note: Modern browsers will ignore the return value of the event handler.
            // You can still use a confirmation dialog for older browsers.
            e.returnValue = ''; // For older browsers
        });

        function InsertLogUser() {
            // Your logic for logging the user goes here
            console.log('User log inserted');

            var WriteLogUser = $('#WriteInsertLogUser').html();

            // Data to send to the server
            const data = JSON.stringify({ DataSend: JSON.stringify({ DataLogUser: WriteLogUser }) })
            const blob = new Blob([data], { type: 'application/json' });

            // Use navigator.sendBeacon for asynchronous sending
            const url = location.origin + '/Home/InsertLogUser'; // Replace with your actual API endpoint
            navigator.sendBeacon(url, blob);

            $('#WriteInsertLogUser').html("");
        }

    });



</script>