@using Core.UI.Models

<style>

    .u-section-2 {
        background-image: linear-gradient(#591919, #fae4e4);
    }

</style>

<div class="u-align-center u-clearfix u-gradient u-section-2" id="carousel_47a3">

    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-layout-grid u-list u-list-1">
            <div class="u-repeater u-repeater-1" id="Div_Menus_1">



                <div id="TR_Sales" namescreen="Sales "  class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngeg99999.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Sales</h6>
                    </div>
                </div>



                <div id="ViewSales" namescreen="View Sales"  class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Rec.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_Sales</h6>
                    </div>
                </div>




                <div id="ShowPrice" namescreen="Qoutation"  class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/FinancialCovenant.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Qoutation</h6>
                    </div>
                </div>


                <div id="ViewShowPrice" namescreen="View Qoutations"   class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/AccStatment.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_Qoutations</h6>
                    </div>
                </div>


                <div id="JobOrder" namescreen="JobOrder "   class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/cardboard-box.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.JobOrder</h6>
                    </div>
                </div>


                <div id="ViewJobOrder" namescreen="View JobOrder"  class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/160_F_292759864_zMQwoY2QpWMJue9ixPASmFQpjdyTf2GU.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_JobOrder</h6>
                    </div>
                </div>

                <div id="DeliveryOrder" namescreen="DeliveryOrder"  class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/DelliveryOrder.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.DeliveryOrder</h6>
                    </div>
                </div>


                <div id="ViewDeliveryOrder" namescreen="View DeliveryOrder" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/ViewDelliveryOrder.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_DeliveryOrder</h6>
                    </div>
                </div>

                <div id="Tax_Sales" namescreen="Tax Sales "  class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngeg99999.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Tax_Sales</h6>
                    </div>
                </div>


                <div id="Tax_ViewSales" namescreen="Tax View Sales"  class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Rec.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Tax_View_Sales</h6>
                    </div>
                </div>



                <div id="PurOrder" namescreen="PurOrder " class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg101.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.PurOrder</h6>
                    </div>
                </div>


                <div id="ViewPurOrder" namescreen="View PurOrder" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg5.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_PurOrder</h6>
                    </div>
                </div>



                <div id="Purchases" namescreen="Purchases" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngeg7777.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Purchases</h6>
                    </div>
                </div>

                <div id="ViewPurchases" namescreen="View Purchases" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/red-delivery-car.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_Purchases</h6>
                    </div>
                </div>


                <div id="OutWorks" namescreen="OutWorks" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/OutWork.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.OutWorks</h6>
                    </div>
                </div>

                <div id="ViewOutWorks" namescreen="View OutWorks" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/ViewWork.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.ViewOutWorks</h6>
                    </div>
                </div>


                <div id="Receipt" namescreen="Receipt" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Money.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Receipt</h6>
                    </div>
                </div>

                <div id="Payment" namescreen="Payment" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Pay.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Payment</h6>
                    </div>
                </div>

                <div id="ViewFinancial" namescreen="View Financial" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg6.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_Financial</h6>
                    </div>
                </div>
                <div id="Partners" namescreen="Partners" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Partners.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Partners</h6>
                    </div>
                </div>
                <div id="EditPartners" namescreen="Edit Partners" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/EditPartners.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.EditPartners</h6>
                    </div>
                </div>
                <div id="View_Period" namescreen="View Closed Day" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Fotolia_61034637_XS-1.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_Closed_Day</h6>
                    </div>
                </div>


                <div id="Customer" namescreen="Customer" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngeggLog.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Customer</h6>
                    </div>

                </div>



                <div id="EditCustomer" namescreen="View Customer" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/UserControl.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_Customer</h6>
                    </div>

                </div>

                <div id="Suppliers" namescreen="Suppliers" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Deleted.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Suppliers</h6>
                    </div>
                </div>
                <div id="EditSuppliers" namescreen="View Suppliers" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/History_Order.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_Suppliers</h6>
                    </div>
                </div>
                <div id="SalesMan" namescreen="SalesMan" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/delivery-3670118.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.SalesMan</h6>
                    </div>
                </div>
                <div id="EditSalesMan" namescreen="View SalesMan" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/istockphoto-878756474-2048x2048.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.EditSalesMan</h6>
                    </div>
                </div>

                <div id="FinancialType" namescreen="FinancialType" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg4.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Financial_Type</h6>
                    </div>
                </div>

                <div id="VatTypes" namescreen="Vat Types" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/VatTypes.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Vat_Types</h6>
                    </div>
                </div>


                <div id="CashTypes" namescreen="CashTypes" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg (2).png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Cash_Type</h6>
                    </div>
                </div>




                <div id="ViewItems" namescreen="View Items" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/istockphoto-1452647741-1024x1024.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_Items</h6>
                    </div>
                </div>

                <div id="Items" namescreen="Items" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/istockphoto-853561716-1024x1024.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Items</h6>
                    </div>
                </div>

                <div id="ItemFamily" namescreen="ItemFamily" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg655566.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.ItemFamily</h6>
                    </div>
                </div>

                <div id="Category" namescreen="Category" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngeg8888.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Category</h6>
                    </div>
                </div>


                <div id="Units" namescreen="Units" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg23423423423.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Units</h6>
                    </div>
                </div>
                <div id="StockReport" namescreen="StockReport" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/istockphoto-854499740-1024x1024.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.StockReport</h6>
                    </div>
                </div>


                <div id="Tables" namescreen="Tables" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngeg666.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Tables</h6>
                    </div>
                </div>


                <div id="UserDef" namescreen="@Res.Add_User" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/istockphoto-1429898589-1024x1024.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1"> @Res.Add_User</h6>
                    </div>
                </div>

                <div id="EmpControl" namescreen="@Res.Users_Control" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/UserControl.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1"> @Res.Users_Control </h6>
                    </div>
                </div>

                <div id="VendorControl" namescreen="@Res.Register_Control" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/VendorControl.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Register_Control </h6>
                    </div>
                </div>

                <div id="TaxReport" namescreen="Tax Report" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/TaxReport.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Tax_Report</h6>
                    </div>
                </div>



                <div id="ViewLogUser" namescreen="@Res.View_User_Log" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngeggLog.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.View_User_Log</h6>
                    </div>
                </div>

                <div id="Rep_AccountStatment" namescreen="Account Statment" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg103.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Account_Statment</h6>
                    </div>
                </div>
                <div id="Rep_Sales" namescreen="Sales Report" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg104.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Sales_Report</h6>
                    </div>
                </div>
                <div id="Rep_SalesByUser" namescreen="Sales Report By User" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg104.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Sales_Report</h6>
                    </div>
                </div>
                <div id="Rep_Purchase" namescreen="Purchases Report" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/pngegg105.png" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Purchases_Report</h6>
                    </div>
                </div>

                <div id="Rep_Income_Expense" namescreen="Income & Expense Report" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/Seller_Order_finish.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.Income___Expense_Report</h6>
                    </div>
                </div>
                <div id="CashBox" namescreen="CashBox" class="_MODULE_CODE_Page hidden_Control animate__animated  u-align-center u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500">
                    <div class="u-container-layout u-similar-container u-container-layout-2">
                        <img class="u-expanded-width u-image u-image-round u-radius-20 u-image-2" src="~/NewStyle/images/CashBox.jpg" alt="" data-image-width="444" data-image-height="444">
                        <h6 class="u-hover-feature u-text u-text-1">@Res.CashBox</h6>
                    </div>
                </div>




            </div>
        </div>
    </div>

</div>


<script src="~/ClientApp/Home/PagesInMenu.js"></script>