@using Core.UI.Models

<style>

    .u-btn {
        margin-top: 0px !important;
        margin-bottom: 2px !important;
    }
</style>
<div class="sparkline8-graph col-xs-12" style="border-radius: 50px;">



    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" style="padding: 10px" source="email" name="form">
        <div class="u-form-email u-form-group u-form-partition-factor-9">
        </div>
        <div class="u-form-email u-form-group u-form-partition-factor-7">
            <label for="" class="u-label u-text-grey-40">@Res.From_Date</label>
            <input type="date" placeholder="0" id="Txt_From_Date" class=" u-input u-input-rectangle">
        </div>
        <div class="u-form-group u-form-name u-form-partition-factor-7">
            <label for="" class="u-label u-text-grey-40">@Res.To_Date</label>
            <input type="date" placeholder="0" id="Txt_To_Date" class=" u-input u-input-rectangle">
        </div>
 
        <div class="u-form-group u-form-name u-form-partition-factor-9">
            <label for="" class="u-label u-text-grey-40">@Res.Module</label>
            <select id="dbModule" name="select" class="u-input u-input-rectangle">
                <option value="1" data-calc="">@Res.All</option> 
            </select>
        </div>    
        
        <div class="u-form-group u-form-name u-form-partition-factor-9">
            <label for="" class="u-label u-text-grey-40">@Res.Mode</label>
            <select id="drpModeUser" name="select" class="u-input u-input-rectangle">
                <option value="1" data-calc="">@Res.All</option> 
            </select>
        </div>

        <div class="u-form-group u-form-name u-form-partition-factor-7">
            <label for="" class="u-label u-text-grey-40"> </label>
            <a id="Filter_Users" style="width: 100%;   background-color: rgb(103 169 204)" class="Style_Add_Item u-btn u-btn-submit u-input u-input-rectangle">@Res.Select_User</a>
            <input type="hidden" placeholder="0" id="TxtUserId" class="">
        </div>

 
 
    </form>

    <div class="inside-table my-4">

        <div class="u-form-email u-form-group u-form-partition-factor-2  " style="text-align: center; border-color: black;margin-left: 5%;width: 90%;margin-bottom: 1%;">

            <a id="Filter_View" style="width: 100%;" class="Style_Add_Item u-btn u-btn-submit u-input u-input-rectangle">@Res.Filter</a>
            <h6 id="btnDelete_Filter" class="display_none" style="  cursor: pointer;">❌</h6>

        </div>

        <div class="u-form-email u-form-group u-form-partition-factor-2 display_none" style="border-color: black;margin-left: 5%;width: 90%;margin-bottom: 1%;">

            <a id="Txt_Balance" style="width: 100%;background-color: #2e3b53;" class="Style_Add_Item u-btn u-btn-submit u-input u-input-rectangle">0.00</a>

        </div>
 

        <div id="_Grid">
        </div>


    </div>

 
</div>



 
<script src="~/ClientApp/ViewLogUser/ViewLogUser.js"></script>
 
